USE [master]
GO
/****** Object:  Database [BookRightDB]    Script Date: 28-05-2026 08:40:35 ******/
CREATE DATABASE [BookRightDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookRightDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BookRightDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookRightDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BookRightDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookRightDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookRightDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [uniqueidentifier] NOT NULL,
	[TreatmentId] [uniqueidentifier] NOT NULL,
	[TherapistId] [uniqueidentifier] NOT NULL,
	[ClinicId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ParticipantLimit] [int] NOT NULL,
	[DiscountTypeUsed] [nvarchar](max) NOT NULL,
	[Participants] [nvarchar](max) NOT NULL,
	[Time] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DiscountPercentage] [decimal](18, 2) NOT NULL,
	[AssignedTreatments] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CampaignPeriod] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Campaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TreatmentRoomLimit] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clinics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[PreferredTherapistId] [uniqueidentifier] NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpeningHours]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningHours](
	[Id] [uniqueidentifier] NOT NULL,
	[WeekDay] [nvarchar](max) NOT NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
	[IsClosed] [bit] NOT NULL,
	[ClinicId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OpeningHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Therapists]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Therapists](
	[Id] [uniqueidentifier] NOT NULL,
	[AuthorizationNumber] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[AssociatedClinics] [nvarchar](max) NOT NULL,
	[CertificationTypes] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Therapists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 28-05-2026 08:40:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Duration] [time](7) NOT NULL,
	[CertificationRequired] [nvarchar](max) NOT NULL,
	[MaxParticipants] [int] NOT NULL,
 CONSTRAINT [PK_Treatments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260528063558_Initial', N'10.0.7')
GO
INSERT [dbo].[Bookings] ([Id], [TreatmentId], [TherapistId], [ClinicId], [Status], [Price], [ParticipantLimit], [DiscountTypeUsed], [Participants], [Time]) VALUES (N'77777777-7777-7777-7777-777777777772', N'b83d128e-f408-40f8-b4ad-25c31250cf2b', N'44444444-4444-4444-4444-444444444446', N'33333333-3333-3333-3333-333333333333', N'Completed', CAST(350.00 AS Decimal(18, 2)), 1, N'None', N'["55555555-5555-5555-5555-555555555606"]', N'{"From":"2026-05-01T13:30:00","To":"2026-05-01T14:00:00"}')
INSERT [dbo].[Bookings] ([Id], [TreatmentId], [TherapistId], [ClinicId], [Status], [Price], [ParticipantLimit], [DiscountTypeUsed], [Participants], [Time]) VALUES (N'77777777-7777-7777-7777-777777777773', N'710cfebd-245c-410d-b63f-9e066f77de39', N'44444444-4444-4444-4444-444444444449', N'11111111-1111-1111-1111-111111111111', N'Completed', CAST(699.00 AS Decimal(18, 2)), 1, N'None', N'["55555555-5555-5555-5555-555555555608"]', N'{"From":"2026-05-01T15:00:00","To":"2026-05-01T16:00:00"}')
GO
INSERT [dbo].[Campaigns] ([Id], [Name], [DiscountPercentage], [AssignedTreatments], [Status], [CampaignPeriod]) VALUES (N'66666666-6666-6666-6666-666666666661', N'Sommerkampagne fysioterapi', CAST(10.00 AS Decimal(18, 2)), N'["2f1196bb-8d78-444c-bcdb-992806905c6e","53bb0fec-b7ee-45c7-ae0e-0db7f508658d"]', N'Active', N'{"From":"2026-06-01","To":"2026-08-31"}')
INSERT [dbo].[Campaigns] ([Id], [Name], [DiscountPercentage], [AssignedTreatments], [Status], [CampaignPeriod]) VALUES (N'66666666-6666-6666-6666-666666666662', N'Genoptræningshold rabat', CAST(15.00 AS Decimal(18, 2)), N'["4401a516-76ba-497f-beba-aee749850ddd"]', N'Active', N'{"From":"2026-05-01","To":"2026-06-30"}')
INSERT [dbo].[Campaigns] ([Id], [Name], [DiscountPercentage], [AssignedTreatments], [Status], [CampaignPeriod]) VALUES (N'66666666-6666-6666-6666-666666666663', N'Massage introduktion', CAST(20.00 AS Decimal(18, 2)), N'["b83d128e-f408-40f8-b4ad-25c31250cf2b"]', N'Inactive', N'{"From":"2026-04-01","To":"2026-04-30"}')
GO
INSERT [dbo].[Clinics] ([Id], [Name], [TreatmentRoomLimit], [Address]) VALUES (N'11111111-1111-1111-1111-111111111111', N'BookRight Vejle', 7, N'{"Street":"Dæmningen 34","PostalCode":"7100","City":"Vejle"}')
INSERT [dbo].[Clinics] ([Id], [Name], [TreatmentRoomLimit], [Address]) VALUES (N'22222222-2222-2222-2222-222222222222', N'BookRight Egtved', 5, N'{"Street":"Aftensang 12","PostalCode":"6040","City":"Egtved"}')
INSERT [dbo].[Clinics] ([Id], [Name], [TreatmentRoomLimit], [Address]) VALUES (N'33333333-3333-3333-3333-333333333333', N'BookRight Børkop', 6, N'{"Street":"Stationsvej 18","PostalCode":"7080","City":"Børkop"}')
GO
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthDate], [Note], [PreferredTherapistId], [Address], [Email], [PhoneNumber]) VALUES (N'55555555-5555-5555-5555-555555555551', N'Maja', N'Bach', CAST(N'2003-06-04' AS Date), N'', N'44444444-4444-4444-4444-444444444447', N'{"Street":"Bakkegade 123","PostalCode":"6040","City":"Egtved"}', N'{"EmailAddress":"maja.bach.1@bookright-test.invalid"}', N'{"Number":"99200001"}')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthDate], [Note], [PreferredTherapistId], [Address], [Email], [PhoneNumber]) VALUES (N'55555555-5555-5555-5555-555555555552', N'Søren', N'Mortensen', CAST(N'1977-10-09' AS Date), N'Har tidligere meldt afbud med kort varsel', N'44444444-4444-4444-4444-444444444441', N'{"Street":"Lindevej 109","PostalCode":"7100","City":"Vejle"}', N'{"EmailAddress":"soeren.mortensen.2@bookright-test.invalid"}', N'{"Number":"99200002"}')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [BirthDate], [Note], [PreferredTherapistId], [Address], [Email], [PhoneNumber]) VALUES (N'55555555-5555-5555-5555-555555555553', N'Anna', N'Laursen', CAST(N'1979-02-18' AS Date), N'Kan bedst efter kl. 15', NULL, N'{"Street":"Vardevej 16","PostalCode":"7120","City":"Vejle Øst"}', N'{"EmailAddress":"anna.laursen.3@bookright-test.invalid"}', N'{"Number":"99200003"}')
GO
INSERT [dbo].[OpeningHours] ([Id], [WeekDay], [OpeningTime], [ClosingTime], [IsClosed], [ClinicId]) VALUES (N'a0000000-0000-0000-0000-000000000001', N'Monday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 0, N'11111111-1111-1111-1111-111111111111')
INSERT [dbo].[OpeningHours] ([Id], [WeekDay], [OpeningTime], [ClosingTime], [IsClosed], [ClinicId]) VALUES (N'a0000000-0000-0000-0000-000000000002', N'Tuesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 0, N'11111111-1111-1111-1111-111111111111')
INSERT [dbo].[OpeningHours] ([Id], [WeekDay], [OpeningTime], [ClosingTime], [IsClosed], [ClinicId]) VALUES (N'a0000000-0000-0000-0000-000000000003', N'Wednesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 0, N'11111111-1111-1111-1111-111111111111')
GO
INSERT [dbo].[Therapists] ([Id], [AuthorizationNumber], [Name], [HourlyRate], [AssociatedClinics], [CertificationTypes], [Address], [Email], [PhoneNumber]) VALUES (N'44444444-4444-4444-4444-444444444441', N'AUTH-1001', N'Mette Sørensen', CAST(365.00 AS Decimal(18, 2)), N'["11111111-1111-1111-1111-111111111111","22222222-2222-2222-2222-222222222222"]', N'["Physiotherapy","Rehabilitation"]', N'{"Street":"Nørregade 5","PostalCode":"7100","City":"Vejle"}', N'{"EmailAddress":"mette.soerensen.therapist@bookright-test.invalid"}', N'{"Number":"99100001"}')
INSERT [dbo].[Therapists] ([Id], [AuthorizationNumber], [Name], [HourlyRate], [AssociatedClinics], [CertificationTypes], [Address], [Email], [PhoneNumber]) VALUES (N'44444444-4444-4444-4444-444444444442', N'AUTH-1002', N'Jonas Nielsen', CAST(315.00 AS Decimal(18, 2)), N'["11111111-1111-1111-1111-111111111111","33333333-3333-3333-3333-333333333333"]', N'["Massage"]', N'{"Street":"Kirkegade 33","PostalCode":"7080","City":"Børkop"}', N'{"EmailAddress":"jonas.nielsen.therapist@bookright-test.invalid"}', N'{"Number":"99100002"}')
INSERT [dbo].[Therapists] ([Id], [AuthorizationNumber], [Name], [HourlyRate], [AssociatedClinics], [CertificationTypes], [Address], [Email], [PhoneNumber]) VALUES (N'44444444-4444-4444-4444-444444444443', N'AUTH-1003', N'Sara Madsen', CAST(365.00 AS Decimal(18, 2)), N'["22222222-2222-2222-2222-222222222222"]', N'["Acupuncture","Physiotherapy"]', N'{"Street":"Parkvej 15","PostalCode":"6040","City":"Egtved"}', N'{"EmailAddress":"sara.madsen.therapist@bookright-test.invalid"}', N'{"Number":"99100003"}')
GO
INSERT [dbo].[Treatments] ([Id], [Name], [Price], [Duration], [CertificationRequired], [MaxParticipants]) VALUES (N'53bb0fec-b7ee-45c7-ae0e-0db7f508658d', N'Physiotherapy 45', CAST(589.00 AS Decimal(18, 2)), CAST(N'00:45:00' AS Time), N'Physiotherapy', 1)
INSERT [dbo].[Treatments] ([Id], [Name], [Price], [Duration], [CertificationRequired], [MaxParticipants]) VALUES (N'68a14b26-15d6-4831-a876-221b01260c6b', N'Acupuncture 45', CAST(550.00 AS Decimal(18, 2)), CAST(N'00:45:00' AS Time), N'Acupuncture', 1)
INSERT [dbo].[Treatments] ([Id], [Name], [Price], [Duration], [CertificationRequired], [MaxParticipants]) VALUES (N'4ced2638-f883-42fa-ad82-24902b3b1ba4', N'Physiotherapy 60', CAST(745.00 AS Decimal(18, 2)), CAST(N'01:00:00' AS Time), N'Physiotherapy', 1)
GO
/****** Object:  Index [IX_OpeningHours_ClinicId]    Script Date: 28-05-2026 08:40:36 ******/
CREATE NONCLUSTERED INDEX [IX_OpeningHours_ClinicId] ON [dbo].[OpeningHours]
(
	[ClinicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpeningHours]  WITH CHECK ADD  CONSTRAINT [FK_OpeningHours_Clinics_ClinicId] FOREIGN KEY([ClinicId])
REFERENCES [dbo].[Clinics] ([Id])
GO
ALTER TABLE [dbo].[OpeningHours] CHECK CONSTRAINT [FK_OpeningHours_Clinics_ClinicId]
GO
USE [master]
GO
