<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookRight</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bookings">
                <span>
                    <img src="/Icons/Bookings.svg" alt="Booking Icon" class="navbar-toggler-icon" />
                </span> Bookinger
            </NavLink>
        </div>

        @* Indsæt kunde her *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="therapists">
                <span>
                    <img src="/Icons/Therapists.svg" alt="Booking Icon" class="navbar-toggler-icon" />
                </span> Behandlere
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clinics">
                <span>
                    <img src="/Icons/Clinics.svg" alt="Booking Icon" class="navbar-toggler-icon" />
                </span> Klinikker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="campaigns">
                <span>
                    <img src="/Icons/Campaigns.svg" alt="Booking Icon" class="navbar-toggler-icon" />
                    </span> Kampagner
            </NavLink>
        </div>

    </nav>
</div>

