body {
}

.item-main {
    justify-items: flex-start;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: flex-start;
}

.grid-container-timeslots {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    justify-items: flex-start;
}
