<section class="grid-container">
    <input type="text" class="form-control" placeholder="Søg efter @Element" @bind-value="_searchFilter"/>
    <button type="submit" class="btn btn-primary" @onclick="@(() => { Search(); })">Søg</button>
</section>

@code {
    private string _searchFilter { get; set; } = "";

    [Parameter, EditorRequired]
    public string Element { get; set; }

    [Parameter]
    public EventCallback<string> SearchCallback { get; set; }

    private void Search()
    {
        SearchCallback.InvokeAsync(_searchFilter);
    }

}
